@import 'colors'

$font_size     = 16px
$fonts_body    = helvetica, arial, sans-serif
$fonts_headers = "gotham rounded", "helvetica neue", helvetica, arial, sans-serif


html, body
    font-family $fonts_body
    // font-size $font_size
    line-height 1.5
    color $body_text
    background-color $foot_bgcolor

// a:not(.btn)
//     color $body_link
//     text-decoration underline
//     &:hover
//         text-decoration none

h1, h2, h3
    font-family $fonts_headers
    color $body_text
    font-weight 300
    
    a:not(.btn)
        color $body_text
        text-decoration none
        &:hover
            color $body_text

footer
    color $foot_text
    
    a:not(.btn)
        color $foot_link
        border-bottom 1px solid rgba(255,255,255,0.15)
        &:hover
            border none
    
    h3, h4
        font-size 16px
        color $foot_header !important
        a:link, a:visited, a:active
            color $foot_header !important
    

