form.chart-options.scaffold.form-inline
    
    .chart-options-controls.control-group
        a.collapse-all-options-button.btn(href="#") Collapse All
        a.expand-all-options-button.btn(href="#") Expand All
        
        .std-adv-filter-buttons.btn-group.pull-right(data-toggle="buttons-radio")
            a.standard-filter-button.options-filter-button.btn.active(href="#", data-filter=".tag_standard") Standard
            a.advanced-filter-button.options-filter-button.btn(href="#", data-filter="") Advanced
        
    
    .fields.control-group

