section.datasource-ui
    
    section.datasource-summary(data-toggle="collapse", data-target="##{graph_id} .datasource-ui .datasource-selector")
        ul.breadcrumb
            li #{source_summary}
                span.divider
            li #{metric_summary}
                span.divider
            li #{timespan_summary}
        
        i.icon-chevron-down.pull-right
        i.icon-chevron-up.pull-right
    
    section.datasource-selector.collapse.in
        .tabbable.tabs-left
            ul.datasource-sources-list.nav.nav-tabs
                li: h4 Data Sources
                //- li: a(href="#", data-toggle="tab", data-target="")
            .datasource-sources-details.tab-content
                .datasource-source.tab
                    .datasource-source-details
                    .datasource-source-time
                    .datasource-source-metrics
