- var _ = require('kraken/underscore');
section.graph(id=id)
    .graph-label
    .viewport
    
    //- 
        form.details
            label.name(for='#{id}_name') Name
    
    fieldset.options
        legend Graph Options
        
