include browser-helpers
- var graph_id = view.id
section.graph-display.graph(id=view.id)
    
    .graph-name-row.page-header.row-fluid
        h2.graph-name 
            a(id="graph-title", href="#{model.toLink()}") #{name}
    
    .graph-viewport-row.row-fluid
        .viewport
        .graph-legend
    
    .graph-details-row.row-fluid        
        .span1
        .graph-desc.span6
            small
                != jade.filters.markdown(desc)

    .graph-details-row.row-fluid
        .span1 
        .span6
            .graph-permalink 
                input.span6(value="#{model.toPermalink()}", readonly="readonly")
            
            .graph-notes
                != jade.filters.markdown(notes)
            
