.DS_Store
Icon?
*~
*.sw?

*.pid
*.db
*.sqlite

pip-log.txt
*.py[oc]
*.egg-info
*.un~
.tox/
.coverage
.coverage_html
docs/_build/*
.env/

npm-debug.log
node_modules/
node_modules/*
*.sass-cache
lib-cov/
test/*.log
test/fixtures/*.json
test/fixtures/logs/*.log
.cache/
.tmp/

build
dist
var
log
tmp

src/version.js
www/presets/*.json

static/vendor/browserify.js
git2deblogs.pl
debian/changelog
debian/limn*
!debian/limn.conf
debian/files

config.json
