extends layout

block title
    title About Us | Wikimedia Reportcard

block content
    section.about.centered
        .page-header
            h1 About Us 
                small (the Wikimedia Analytics Team)
        
        p hallo!
        
