extends layout

block title
    title Contact | Wikimedia Reportcard

block content
    section.contact.centered
        .page-header
            h1 Contact Us 
                small (the Wikimedia Analytics Team)
        
        p hallo!
        
