extends layout


append styles
    //-
        TODO: sort these out for a client side app
    
    //-
        from dashboard/view.jade
    mixin css('graph-display.css')
    //- graph-display-print contains overrides needed to make printed pages look better
    mixin css('graph-display-print.css', media='print')
    
    mixin css('dashboard.css')
    
    //-
        from graph/view.jade
    mixin css('graph-display.css')
    
    //-
        from graph/edit.jade
    //- mixin css('graph-edit.css')
    mixin css('chart.css')
    
    //-
        Toggle these last two comments to enable live reloading of chart-edit.css
    mixin css('chart-edit.css')
    //- 
        mixin css('chart-edit.css', cssClasses='livecss')


block content
    section.page(data-bind="subview: currentView")


append main-scripts
    if IS_DEV
        script
            jQuery(function(){
                window.limn && limn.expose && limn.expose();
            });

//- block addenda
