extends layout


append styles
    //-
        Add cssClasses='livecss' to enable live reloading
    mixin css('dashboard.css')
    mixin css('graph-display.css')
    mixin css('chart.css')


block content
    section.page(data-bind="subview: currentView")
