extends layout

block title
    title Limn: A Graphing Toolkit | Wikimedia Reportcard

block content
    section.limn-project.centered
        .page-header
            h1 Limn 
                small A Graphing Toolkit
        
        p hallo!
        
