- if (typeof version == 'undefined' || version == null || !version || version === 'dev') { version = String(new Date().getTime()); }

mixin css(href, media, root)
    - media = media || 'screen'
    - root = root || '/css'
    - var ver = (version ? '?'+version : '')
    - href = ((root && href.charAt(0) !== '/') ? root+'/' : '') + href + ver
    link(type='text/css', rel='stylesheet', media=media, href=href)


