section#dashboard.centered
    .page-header
        h1 Wikimedia Report Card 
            small April 2012
    
    .row
        .graphs.tabbable
            nav
                //- Dashboard Tab Buttons appended here
                ul.nav.subnav.nav-pills
                    li: h3 Graphs
            
            //- Dashboard Tabs (each with a collection of GraphDisplayViews) appended here
            .tab-content(data-subview="DashboardTabView")
        


