a, a:link {
  color: #2e62c9;
  vertical-align: baseline; }

a:visited {
  color: #244792; }

a:hover, a:active {
  color: #4596ff; }

.site { margin: 0 auto; padding: 15px; width: 920px; }

.highlight{background:#fff;}
.highlight .c{color:#998;font-style:italic;}
.highlight .err{color:#a61717;background-color:#e3d2d2;}
.highlight .k{font-weight:bold;}
.highlight .o{font-weight:bold;}
.highlight .cm{color:#998;font-style:italic;}
.highlight .cp{color:#999;font-weight:bold;}
.highlight .c1{color:#998;font-style:italic;}
.highlight .cs{color:#999;font-weight:bold;font-style:italic;}
.highlight .gd{color:#000;background-color:#fdd;}
.highlight .gd .x{color:#000;background-color:#faa;}
.highlight .ge{font-style:italic;}
.highlight .gr{color:#a00;}
.highlight .gh{color:#999;}
.highlight .gi{color:#000;background-color:#dfd;}
.highlight .gi .x{color:#000;background-color:#afa;}
.highlight .go{color:#888;}
.highlight .gp{color:#555;}
.highlight .gs{font-weight:bold;}
.highlight .gu{color:#800080;font-weight:bold;}
.highlight .gt{color:#a00;}
.highlight .kc{font-weight:bold;}
.highlight .kd{font-weight:bold;}
.highlight .kn{font-weight:bold;}
.highlight .kp{font-weight:bold;}
.highlight .kr{font-weight:bold;}
.highlight .kt{color:#458;font-weight:bold;}
.highlight .m{color:#099;}
.highlight .s{color:#d14;}
.highlight .na{color:#008080;}
.highlight .nb{color:#0086B3;}
.highlight .nc{color:#458;font-weight:bold;}
.highlight .no{color:#008080;}
.highlight .ni{color:#800080;}
.highlight .ne{color:#900;font-weight:bold;}
.highlight .nf{color:#900;font-weight:bold;}
.highlight .nn{color:#555;}
.highlight .nt{color:#000080;}
.highlight .nv{color:#008080;}
.highlight .ow{font-weight:bold;}
.highlight .w{color:#bbb;}
.highlight .mf{color:#099;}
.highlight .mh{color:#099;}
.highlight .mi{color:#099;}
.highlight .mo{color:#099;}
.highlight .sb{color:#d14;}
.highlight .sc{color:#d14;}
.highlight .sd{color:#d14;}
.highlight .s2{color:#d14;}
.highlight .se{color:#d14;}
.highlight .sh{color:#d14;}
.highlight .si{color:#d14;}
.highlight .sx{color:#d14;}
.highlight .sr{color:#009926;}
.highlight .s1{color:#d14;}
.highlight .ss{color:#990073;}
.highlight .bp{color:#999;}
.highlight .vc{color:#008080;}
.highlight .vg{color:#008080;}
.highlight .vi{color:#008080;}
.highlight .il{color:#099;}
.type-csharp .highlight .k{color:#00F;}
.type-csharp .highlight .kt{color:#00F;}
.type-csharp .highlight .nf{color:#000;font-weight:normal;}
.type-csharp .highlight .nc{color:#2B91AF;}
.type-csharp .highlight .nn{color:#000;}
.type-csharp .highlight .s{color:#A31515;}
.type-csharp .highlight .sc{color:#A31515;}

#readme{ font:13.34px helvetica,arial,freesans,clean,sans-serif; }
#readme.announce{margin:1em 0;}
#readme.blob{;}
#readme span.name{font-size:140%;padding:.8em 0;}
#readme div.plain,#readme div.wikistyle{background-color:#f8f8f8;padding:.7em;}
#readme.announce div.plain,#readme.announce div.wikistyle{border:1px solid #e9e9e9;}
#readme.blob div.plain,#readme.blob div.wikistyle{border-top:none;}
#readme div.plain pre{font-family:'Bitstream Vera Sans Mono','Courier',monospace;font-size:85%;color:#444;white-space:pre-wrap;word-wrap:break-word;width:74em;}
#missing-readme{font:13.34px helvetica,arial,freesans,clean,sans-serif;text-align:center;background-color:#ffc;padding:.7em;border:1px solid #ccc;}
#readme.rst .borderless,#readme.rst table.borderless td,#readme.rst table.borderless th{border:0;}
#readme.rst table.borderless td,#readme.rst table.borderless th{padding:0 .5em 0 0!important;}
#readme.rst .first{margin-top:0!important;}
#readme.rst .last,#readme.rst .with-subtitle{margin-bottom:0!important;}
#readme.rst .hidden{display:none;}
#readme.rst a.toc-backref{text-decoration:none;color:black;}
#readme.rst blockquote.epigraph{margin:2em 5em;}
#readme.rst dl.docutils dd{margin-bottom:.5em;}
#readme.rst div.abstract{margin:2em 5em;}
#readme.rst div.abstract p.topic-title{font-weight:bold;text-align:center;}
#readme.rst div.admonition,#readme.rst div.attention,#readme.rst div.caution,#readme.rst div.danger,#readme.rst div.error,#readme.rst div.hint,#readme.rst div.important,#readme.rst div.note,#readme.rst div.tip,#readme.rst div.warning{margin:2em;border:medium outset;padding:1em;}
#readme.rst div.admonition p.admonition-title,#readme.rst div.hint p.admonition-title,#readme.rst div.important p.admonition-title,#readme.rst div.note p.admonition-title,#readme.rst div.tip p.admonition-title{font-weight:bold;font-family:sans-serif;}
#readme.rst div.attention p.admonition-title,#readme.rst div.caution p.admonition-title,#readme.rst div.danger p.admonition-title,#readme.rst div.error p.admonition-title,#readme.rst div.warning p.admonition-title{color:red;font-weight:bold;font-family:sans-serif;}
#readme.rst div.dedication{margin:2em 5em;text-align:center;font-style:italic;}
#readme.rst div.dedication p.topic-title{font-weight:bold;font-style:normal;}
#readme.rst div.figure{margin-left:2em;margin-right:2em;}
#readme.rst div.footer,#readme.rst div.header{clear:both;font-size:smaller;}
#readme.rst div.line-block{display:block;margin-top:1em;margin-bottom:1em;}
#readme.rst div.line-block div.line-block{margin-top:0;margin-bottom:0;margin-left:1.5em;}
#readme.rst div.sidebar{margin:0 0 .5em 1em;border:medium outset;padding:1em;background-color:#ffe;width:40%;float:right;clear:right;}
#readme.rst div.sidebar p.rubric{font-family:sans-serif;font-size:medium;}
#readme.rst div.system-messages{margin:5em;}
#readme.rst div.system-messages h1{color:red;}
#readme.rst div.system-message{border:medium outset;padding:1em;}
#readme.rst div.system-message p.system-message-title{color:red;font-weight:bold;}
#readme.rst div.topic{margin:2em;}
#readme.rst h1.section-subtitle,#readme.rst h2.section-subtitle,#readme.rst h3.section-subtitle,#readme.rst h4.section-subtitle,#readme.rst h5.section-subtitle,#readme.rst h6.section-subtitle{margin-top:.4em;}
#readme.rst h1.title{text-align:center;}
#readme.rst h2.subtitle{text-align:center;}
#readme.rst hr.docutils{width:75%;}
#readme.rst img.align-left,#readme.rst .figure.align-left,#readme.rst object.align-left{clear:left;float:left;margin-right:1em;}
#readme.rst img.align-right,#readme.rst .figure.align-right,#readme.rst object.align-right{clear:right;float:right;margin-left:1em;}
#readme.rst img.align-center,#readme.rst .figure.align-center,#readme.rst object.align-center{display:block;margin-left:auto;margin-right:auto;}
#readme.rst .align-left{text-align:left;}
#readme.rst .align-center{clear:both;text-align:center;}
#readme.rst .align-right{text-align:right;}
#readme.rst div.align-right{text-align:left;}
#readme.rst ol.simple,#readme.rst ul.simple{margin-bottom:1em;}
#readme.rst ol.arabic{list-style:decimal;}
#readme.rst ol.loweralpha{list-style:lower-alpha;}
#readme.rst ol.upperalpha{list-style:upper-alpha;}
#readme.rst ol.lowerroman{list-style:lower-roman;}
#readme.rst ol.upperroman{list-style:upper-roman;}
#readme.rst p.attribution{text-align:right;margin-left:50%;}
#readme.rst p.caption{font-style:italic;}
#readme.rst p.credits{font-style:italic;font-size:smaller;}
#readme.rst p.label{white-space:nowrap;}
#readme.rst p.rubric{font-weight:bold;font-size:larger;color:maroon;text-align:center;}
#readme.rst p.sidebar-title{font-family:sans-serif;font-weight:bold;font-size:larger;}
#readme.rst p.sidebar-subtitle{font-family:sans-serif;font-weight:bold;}
#readme.rst p.topic-title{font-weight:bold;}
#readme.rst pre.address{margin-bottom:0;margin-top:0;font:inherit;}
#readme.rst pre.literal-block,#readme.rst pre.doctest-block{margin-left:2em;margin-right:2em;}
#readme.rst span.classifier{font-family:sans-serif;font-style:oblique;}
#readme.rst span.classifier-delimiter{font-family:sans-serif;font-weight:bold;}
#readme.rst span.interpreted{font-family:sans-serif;}
#readme.rst span.option{white-space:nowrap;}
#readme.rst span.pre{white-space:pre;}
#readme.rst span.problematic{color:red;}
#readme.rst span.section-subtitle{font-size:80%;}
#readme.rst table.citation{border-left:solid 1px gray;margin-left:1px;}
#readme.rst table.docinfo{margin:2em 4em;}
#readme.rst table.docutils{margin-top:.5em;margin-bottom:.5em;}
#readme.rst table.footnote{border-left:solid 1px black;margin-left:1px;}
#readme.rst table.docutils td,#readme.rst table.docutils th,#readme.rst table.docinfo td,#readme.rst table.docinfo th{padding-left:.5em;padding-right:.5em;vertical-align:top;}
#readme.rst table.docutils th.field-name,#readme.rst table.docinfo th.docinfo-name{font-weight:bold;text-align:left;white-space:nowrap;padding-left:0;}
#readme.rst h1 tt.docutils,#readme.rst h2 tt.docutils,#readme.rst h3 tt.docutils,#readme.rst h4 tt.docutils,#readme.rst h5 tt.docutils,#readme.rst h6 tt.docutils{font-size:100%;}
#readme.rst ul.auto-toc{list-style-type:none;}.highlight .gc{color:#999;background-color:#EAF2F5;}

.wikistyle h1,.wikistyle h2,.wikistyle h3,.wikistyle h4,.wikistyle h5,.wikistyle h6{border:0!important;}
.wikistyle h1{font-size:170%!important;border-top:4px solid #aaa!important;padding-top:.5em!important;margin-top:1.5em!important;}
.wikistyle h1:first-child{margin-top:0!important;padding-top:.25em!important;border-top:none!important;}
.wikistyle h2{font-size:150%!important;margin-top:1.5em!important;border-top:4px solid #e0e0e0!important;padding-top:.5em!important;}
.wikistyle h3{margin-top:1em!important;}
.wikistyle hr{border:1px solid #ddd;}
.wikistyle p{margin:1em 0!important;line-height:1.5em!important;}
.wikistyle a.absent{color:#a00;}
.wikistyle ul,#wiki-form .content-body ul{margin:1em 0 1em 2em!important;}
.wikistyle ol,#wiki-form .content-body ol{margin:1em 0 1em 2em!important;}
.wikistyle ul li,#wiki-form .content-body ul li,.wikistyle ol li,#wiki-form .content-body ol li{margin-top:.5em;margin-bottom:.5em;}
.wikistyle ul ul,.wikistyle ul ol,.wikistyle ol ol,.wikistyle ol ul,#wiki-form .content-body ul ul,#wiki-form .content-body ul ol,#wiki-form .content-body ol ol,#wiki-form .content-body ol ul{margin-top:0!important;margin-bottom:0!important;}
.wikistyle blockquote{margin:1em 0!important;border-left:5px solid #ddd!important;padding-left:.6em!important;color:#555!important;}
.wikistyle dt{font-weight:bold!important;margin-left:1em!important;}
.wikistyle dd{margin-left:2em!important;margin-bottom:1em!important;}
.wikistyle table{margin:1em 0!important; width:100%; border-spacing:1px;}
.wikistyle table thead {border:1px solid #bbb; border-width: 1px 0; padding:1em; background-color:#F2F2F2; color:#333; }
.wikistyle table th, td{text-align:left; vertical-align:middle; margin:0 1px; }
.wikistyle table th{border-bottom:1px solid #bbb!important;}
.wikistyle table td{border-bottom:1px solid #ddd!important;}
.wikistyle a code,.wikistyle a:link code,.wikistyle a:visited code{color:#4183c4!important;}
.wikistyle img{max-width:100%;}
.wikistyle pre.console{margin:1em 0!important;font-size:12px!important;background-color:black!important;padding:.5em!important;line-height:1.5em!important;color:white!important;}
.wikistyle pre.console code{padding:0!important;font-size:12px!important;background-color:black!important;border:none!important;color:white!important;}
.wikistyle pre.console span{color:#888!important;}
.wikistyle pre.console span.command{color:yellow!important;}
.wikistyle .frame{margin:0;display:inline-block;}
.wikistyle .frame img{display:block;}
.wikistyle .frame>span{display:block;border:1px solid #aaa;padding:4px;}
.wikistyle .frame span span{display:block;font-size:10pt;margin:0;padding:4px 0 2px 0;text-align:center;line-height:10pt;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;}
.wikistyle .float-left{float:left;padding:.5em 1em .25em 0;}
.wikistyle .float-right{float:right;padding:.5em 0 .25em 1em;}
.wikistyle .align-left{display:block;text-align:left;}
.wikistyle .align-center{display:block;text-align:center;}
.wikistyle .align-right{display:block;text-align:right;}
.wikistyle pre{margin:1em 0;font-size:12px;background-color:#eee;border:1px solid #ddd;padding:5px;color:#444;overflow:auto;-webkit-box-shadow:rgba(0,0,0,0.07) 0 1px 2px inset;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.wikistyle pre::-webkit-scrollbar{height:8px;width:8px;}
.wikistyle pre::-webkit-scrollbar-track-piece{margin-bottom:10px;background-color:#e5e5e5;border-bottom-left-radius:4px 4px;border-bottom-right-radius:4px 4px;border-top-left-radius:4px 4px;border-top-right-radius:4px 4px;}
.wikistyle pre::-webkit-scrollbar-thumb:vertical{height:25px;background-color:#ccc;-webkit-border-radius:4px;-webkit-box-shadow:0 1px 1px rgba(255,255,255,1);}
.wikistyle pre::-webkit-scrollbar-thumb:horizontal{width:25px;background-color:#ccc;-webkit-border-radius:4px;}
.wikistyle pre code{padding:0!important;font-size:12px!important;background-color:#eee!important;border:none!important;}
.wikistyle code{font-size:12px!important;background-color:#f8f8ff!important;color:#444!important;padding:0 .2em!important;border:1px solid #dedede!important;}

.markdown-format .highlight pre{background:#fafafa;}
.markdown-format .highlight .gu,.markdown-format .highlight .gd,.markdown-format .highlight .gi{display:inline-block;width:100%;padding:0 0 0 5px;margin-left:-5px;}
.markdown-format .highlight .gu{font-weight:normal;color:#999;background:#EAF2F5;}
.markdown-format .highlight .gd{;}
.markdown-format .highlight .gi{;}
