extends ../layout

block title
    title Dashboard | Limn

append styles
    mixin css('graph-display.css')
    mixin css('graph-display.css', media='print')
    //- graph-display-print contains overrides
    //- needed to make printed pages look better
    mixin css('graph-display-print.css', media='print')
    mixin css('dashboard.css')
    mixin css('dashboard.css', media='print')
    

block main-scripts
    script
        var limn = require('limn/limn');
    //- script(src="/js/limn/main-dashboard.js?"+version)
