fieldset.controlGroup
    legend Add New Data Source
    form.form-horizontal(data-bind="submit: newDataSource, with: blankDataSource")
        .control-group
            label.control-label(for="slug") Unique Id
            .controls
                input(type="text", id="slug", placeholder="unique id: must_look_like_this", data-bind="value: slug", required, pattern="^[a-z0-9_]+$")
        .control-group
            label.control-label(for="name") Name
            .controls
                input(type="text", id="name", placeholder="name", data-bind="value: name", required)
        .control-group
            label.control-label(for="shortName") Short Name
            .controls
                input(type="text", id="shortName", placeholder="short name", data-bind="value: shortName")
        .control-group
            label.control-label(for="url") Datafile URL
            .controls
                input(type="text", id="url", placeholder="relative or absolute url", data-bind="value: url", required)
        .control-group(data-bind="if: columns().length > 0")
            h4 Metrics in Datafile
            a.btn(data-bind="click: $parent.addMetric") Add Metric
            .control-group(data-bind="foreach: columns")
                .controls.controls-row
                    span(data-bind="text: $index")
                    input.span3(type="text", required, placeholder="column heading", data-bind="value: label")
                    input.span2(type="text", required, placeholder="data type (int, Date, float)", data-bind="value: type")
                    a.btn(data-bind="click: $parents[1].removeMetricFrom($parent)") Remove
        .form-actions
            button.btn.btn-primary.save(type="submit") Save
            span.pull-right(data-bind="text: $parent.message")


h3 Datasources by id and name
dl(data-bind="foreach: model")
    dt
        p
            a.btn(data-bind="click: $parent.visualize, text: 'Visualize ' + id()")
    dd
        p.offset1(data-bind="text: name")
