fieldset
    legend
    //-(data-bind="text: editMessage")
    ol(data-bind="foreach: editable")
        li.row-fluid
            label.span4(data-bind="text: text")
            input.span8(data-bind="value: value")
