section.graph(data-bind="attr: { id:graphId }")
    
    .graph-name-row.row-fluid
        .callout
            .latest-metric(data-bind='text: latest')
            .metric-change.year-over-year
                span.dates(data-bind='text: year.dates')
                span.value(data-bind='text: year.value')
            .metric-change.month-over-month
                span.dates(data-bind='text: month.dates')
                span.value(data-bind='text: month.value')
        h2
            a.graph-name(data-bind="text: model().name, attr: { href:model().link }")
    
    .graph-canvas-row.row-fluid
        .inner(data-bind='subview: rootNode')
    
    .graph-details-row.row
        .span7.offset3.ug.graph-desc(data-bind='html: model().desc.markdown')
    
    .graph-links-row.row
        .span6.offset3.ug.graph-permalink
            input.span6(data-bind="attr: { value:model().permalink }", readonly="readonly")
    
    .graph-notes-row.row
        .span7.offset3.ug.graph-notes(data-bind='html: model().notes.markdown')
    
    a(data-bind="attr: {href: '/graphs/'+ model().id() +'/edit'}") edit
//-
    ul(data-bind="foreach: model().tags")
        li
            span(data-bind="text: data")
            button (remove)
