extends layout

block title
    title Editors by Location, February 2012 | English Wikipedia

block content
    section.geo
        .page-header
            h1 Editors by Location 
                small English Wikipedia &mdash; February 2012
        
        #worldmap
            .geo-spinner
        
        .well#infobox
            .row
                .span4
                    h3#country
            .row
                .span2 All editors
                .span2#ae
            .row
                .span2 5+ editors
                .span2#e5
            .row
                .span2 100+ editors
                .span2#e100
        
        .help
            h6 Zoom/Pan using mouse.

append styles
    mixin css('geo-display.css')

block main-scripts
    script(src="/js/kraken/main-geo.js?"+version)

