extends layout

section#graph-list

block content 
    .page-header
        h1 Wikimedia Geolocation Map 
            small February 2012
    
    


block title
    title Geolocation

append styles
    mixin css('geo-display.css')

block main-scripts
    script(src="/js/kraken/main-geo.js?"+version)
