extends layout

block title
    title Kraken: Graph Test Page

append content
    section.graph
        .viewport
        fieldset.settings
            legend Settings
            
            mixin text_field('data', 'data/page_views_by_project.csv')
    

