extends layout

block title
    title Kraken: Graph Test Page

append styles
    mixin css('forms.css')
    mixin css('graph.css')

block content
    section.graph
        .viewport
        fieldset
            legend Settings
            form.settings
                //- mixin text_field('data', 'data/page_views_by_project.csv')
    

block page-scripts
    script
        var CHART_OPTIONS_SPEC = !{ fs.readFileSync('www/dygraph-options.json', 'utf8') };
    

