include mixins/helpers

!!! html
html(lang="en", dir="ltr")
    head
        block head
            meta(http-equiv="content-type", content="text/html; charset=utf-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            
            block styles
                //- mixin css('reset.min.css')
                mixin css('/vendor/bootstrap/css/bootstrap.css')
                mixin css('/vendor/bootstrap/css/bootstrap.css', media='print')
                mixin css('layout.css')
                mixin css('layout.css', media='print')
                
            
            link(type="image/ico", rel="icon", href="/favicon.ico")
            link(type="image/x-icon", rel="shortcut icon", href="/favicon.ico")
            
            block title
                title GraphKit
    
    body
        block body
            section#content
                .inner
                    block content
            
            footer
                block footer
                //- FIXME: put link to /graphs only if dev env, for now.
                if NODE_ENV == 'dev'
                    a(href='/graphs') Browse Saved Graphs
            
            .scripts
                block scripts
                    script
                        var VERSION = !{ JSON.stringify(version)  };
                        var ENV     = !{ JSON.stringify(NODE_ENV) };
                    
                    block lib-scripts
                        for src in sources(WWW+'/modules.yaml')
                            script(src=src+"?"+version)
                    
                    block page-scripts
                    
                    block main-scripts
                        script(src="/js/kraken/main.js?"+version)
            

