include mixins/helpers
include mixins/forms

!!! html
html
    head
        block head
            meta(http-equiv="content-type", content="text/html; charset=utf-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            
            block styles
                //- mixin css('reset.min.css')
                mixin css('/vendor/bootstrap/css/bootstrap.css')
                mixin css('layout.css')
            
            link(type="image/ico", rel="icon", href="/favicon.ico")
            link(type="image/x-icon", rel="shortcut icon", href="/favicon.ico")
            
            block title
                title Kraken
    
    body
        block body
            //- 
                header
                    block header
                        h1: a(href="/") Kraken
                        block nav
                            nav#menu: ul
                                block menu-items
                                    li.home Home
            
            section#content
                //- .spacer
                .inner
                    block content
            
            footer
                block footer
            
            .scripts
                block scripts
                    script
                        var VERSION = !{ JSON.stringify(version)  };
                        var ENV     = !{ JSON.stringify(NODE_ENV) };
                    
                    for src in sources(WWW+'/modules.yaml')
                        script(src=src+"?"+version)
                    
                    block page-scripts
                    
                    script(src="/js/kraken/main.js?"+version)
            

