section.chart
    .chart-meta(data-subview='CalloutElement LegendElement')
    svg
        defs.definitions
            clipPath.metricVisualizations
                rect
            g.metricDefs
        g.viewport
            g.chart-render(data-subview='')
            g.note-elements(data-subview='AnnotationsElement')
        g.minimap(data-subview='MinimapElement')
