section.chart
    .viewport
        svg
            g.axes(data-subview='AxesElement')
            g.viewport
                g.bg-elements(data-subview='GridElement')
                g.fg-elements(data-subview='LineChartElement')
                g.note-elements(data-subview='AnnotationsElement')
            g.minimap(data-subview='MinimapElement')

    .graph-legend(data-subview='LegendElement')
