section.chart
    .chart-meta(data-subview='CalloutElement LegendElement')
    svg
        g.axes(data-subview='AxesElement')
        g.viewport
            g.note-elements(data-subview='AnnotationsElement')
            g.fg-elements
            g.bg-elements(data-subview='GridElement')
        g.minimap(data-subview='MinimapElement')
