section.chart
    section.middle.box
        .chart-meta(data-subview='CalloutElement LegendElement')
        svg
            defs.definitions
                clipPath.metricVisualizations
                    rect
                g.metricDefs
            g.viewport
                g.chart-render(data-subview='')
                g.note-elements(data-subview='AnnotationsElement')
            g.minimap(data-subview='MinimapElement')

    section.left.flying.box
        p Datasource selection
        p Metric selection
        p Synthetic metric maker
    section.right.flying.box
        p Color selection
    section.top.flying.box
        p Contextual editing based on clicking in the graph
        p General options that apply to groups of things in the graph
    section.bottom.flying.box
        p Not sure if this box is needed
