extends ../layout

block title
    title Edit Graph | Limn

block addenda

append styles
    mixin css('/vendor/bootstrap-colorpicker/css/colorpicker.css')
    mixin css('/vendor/bootstrap-datepicker/css/datepicker.css')
    mixin css('graph-edit.css')
    mixin css('chart.css')
    mixin css('chart-edit.css')
