extends ../layout

block title
    title Graph | Limn

append styles
    mixin css('graph-display.css')

block main-scripts
    script
        var limn = require('limn/limn');
    //- script(src="/js/limn/main-display.js?"+version)
