doctype 5
html
    head
        title(data-bind="text: title")
        link(rel="stylesheet", href="/styles/main.css")
        // TODO: figure out how to use require.js, browserify, or whatever will allow dynamic script loading without headaches
        script(src="/scripts/lib/jquery.js")
        script(src="/scripts/lib/knockout.debug.js")
        script(src="/scripts/lib/knockout.mapping.debug.js")
        script(src="/scripts/lib/knockoutExternalTemplateEngine.js")
        // TODO: see above.  Using require from this point on because it works "OK" for javascript written by me
        script(src="/scripts/lib/d3.v2.min.js")
        script(data-main='scripts/main', src='/scripts/lib/require.js')
    body(data-bind="template: page().template")
