extends ../layout

block title
    title Random List | Limn

append styles
    mixin css('/vendor/bootstrap-colorpicker/css/colorpicker.css')
    mixin css('/vendor/bootstrap-datepicker/css/datepicker.css')
    mixin css('isotope.css')


