extends ../layout

block title
    title Random | Limn

append styles
    mixin css('/vendor/bootstrap-colorpicker/css/colorpicker.css')
    mixin css('/vendor/bootstrap-datepicker/css/datepicker.css')
    mixin css('graph.css')
    mixin css('data.css')
    mixin css('isotope.css')


