.latest-metric(data-bind='text: latestValue')
.metric-change.year-over-year
    span.dates(data-bind='text: yearDates')
    span.value(data-bind='text: yearValue, css:yearCssClass')
.metric-change.month-over-month
    span.dates(data-bind='text: monthDates')
    span.value(data-bind='text: monthValue, css:monthCssClass')
