section.canvas-node.graph-node
    section.meta.fg
    section.chart
        svg(pointer-events='all', data-bind='attr: { width:frameWidth, height:frameHeight }')
            defs
                clipPath(data-bind='attr: { id:"clip-"+graphId }')
                    rect(width=10000, height=10000)
                g.metricDefs
            g(data-bind='attr: { transform:"translate("+margin.left+","+margin.top+")" }')
                g.frame(data-bind='attr: { "clip-path":"url(#clip-"+graphId+")" }')
                    g.bg
                    g.viewport
                g.fg
    section.meta.bg
