section.canvas-node.graph-node
    section.meta
        .fg
        .bg
    section.viewport
        svg
            defs
                clipPath
                    rect
                g.metricDefs
            g.fg
            g.vis
            g.bg

