legend(data-bind='text: label')
h4.legend-date(data-bind='text: date')
ul(data-bind='foreach: { data:entries, as:"entry" }')
    li.legend-entry(data-bind='attr: { "data-node":nodeId }')
        span.entry-label(data-bind='text: entry.label, style: { color:color }')
        span.entry-value(data-bind='html: value')
    

