fieldset
    legend Change Scales
    label.control-label(for="scaling") Y Scale
    select(id="scaling",data-bind="value: root().scaling")
        option(value="log") Logarithmic
        option(value="linear") Linear
