extends ../layout

block title
    title Edit Graph | Limn

block addenda

append styles
    mixin css('/vendor/bootstrap-colorpicker/css/colorpicker.css')
    mixin css('/vendor/bootstrap-datepicker/css/datepicker.css')
    mixin css('graph-edit.css')
    mixin css('chart.css')
    mixin css('chart-edit.css')
    //- mixin css('chart-edit.css', null, null, 'livecss')



//- FIXME: temporary! for convenience while working only!
append main-scripts
    script
        _         = limn._;
        op        = limn.op;
        emitters  = limn.emitters;
        Model     = limn.Model;
        Resource  = limn.Resource;
    
