.box
    position: absolute
    margin: 1em
    top: 0
    right: 0
    bottom: 0
    left: 0

.flying
    box-shadow: 3px 3px 3px 3px #bbb
    padding: 10px
    p
        font-size: 16px

.left.box
    top: -20%
    right: 100%
    left: -20%
.top.box
    left: 0
    top: -20%
    bottom: 100%
.right.box
    top: 20%
    bottom: 20%
    right: -20%
    left: 100%
.bottom.box
    top: 100%
    bottom: -20%
    left: 20%

/* css for all four boxes open

.middle.box
    top: 20%
    right: 20%
    bottom: 20%
    left: 20%
.left.box
    right: 80%
.top.box
    left: 20%
    bottom: 80%
.right.box
    top: 20%
    bottom: 20%
    left: 80%
.bottom.box
    top: 80%
    left: 20%
*/

.chart-element-edit
    display none
    
    position relative
    margin 1em
    padding 1em
    border 1px solid #ddd
    border-radius 4px
    
    
    .close
        position absolute
        display block
        top   0.10em
        right 0.35em
        z-index 100
    

.line:hover
    cursor pointer
