// Styling for SVG charts

.viewport svg
    
    .line
      fill none
      stroke #000
      stroke-width 3px
    
    .axis
        font-size 11px
        color #666
        
        text
            fill #666
    

