// Styling for charts and chart elements

.canvas-node
    height: 100%
    position: relative
    
    .meta
        width 18%
        padding 10px 24px 10px 10px
        display inline-block
        vertical-align top
        
        .btn.edit
            position: absolute
            top: 4px
            right: 0px
            width: 40px
            height: 20px
        
        fieldset.legend
            position: relative
            margin: 0.5em
            font-weight: 100
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
            ul
                list-style-type none
                margin 0
                li
                    display table-row
                    span
                        display table-cell
                    span.legendItemText
                        text-align left
                    span.legendItemValue
                        text-align right

svg
    // width 76%
    // height 90%
    
    g.brush
        stroke #fff
        fill-opacity .125
        shape-rendering crispEdges
    
    line.verticalGuide
        stroke #cacaca
        stroke-width 2
    
    g.grid-node line
        stroke #cacaca
        stroke-width 1
    
    g.axis
        path
            fill none
            stroke #cacaca
            stroke-width 3
        text
            font 100 1em "Helvetica Neue", Helvetica, Arial, sans-serif
            stroke #666
            stroke-width 1
    
    g.viewport path
        fill none
        stroke-width 5
