.chart-element-edit
    display none
    
    position relative
    margin 1em
    padding 1em
    border 1px solid #ddd
    border-radius 4px
    
    
    .close
        position absolute
        display block
        top   0.10em
        right 0.35em
        z-index 100
    

.line:hover
    cursor pointer


