/** Project Colors **/

/* background colors */
$main_bgcolor = #fff
$page_bgcolor = #eee
$foot_bgcolor = #3b3b3b

/* text & link colors */
$body_text    = #333
$foot_text    = #505050
$body_link    = #2d588f
$foot_link    = #666

/* spot colors */
$hilite_dkblue  = #182B53
$hilite_ltblue  = #4596FF
$hilite_teal    = #00FFBC
$hilite_green   = #B1E43B
$hilite_yellow  = #F1D950
$hilite_orange  = #EF8158
$hilite_red     = #AD3238
$hilite_pink    = #FF0097
$hilite_purple  = #553DC9


/** Color Helpers **/

invert($v)
    hsla( 180deg * hue($v), 100% - saturation($v), 100% - lightness($v), alpha($v) )

