/** Color Helpers **/

invert($v)
    hsla( 180deg * hue($v), 100% - saturation($v), 100% - lightness($v), alpha($v) )

contrast_direction($v)
    // ((lightness($v) * (100% - saturation($v))) < 50%) ? 1 : -1
    (lightness($v) < 50%) ? 1 : -1


/** Project Colors **/

$dark               = #333
$light              = #eee

/* spot colors */
$hilite_dkblue      = #182B53
$hilite_sky         = #0080FF
$hilite_ltblue      = #4596FF
$hilite_steelblue   = #A6D9FF
$hilite_cyan        = #00FFBC
$hilite_hurricane   = #254A59
$hilite_tourquoise  = #32938A
$hilite_green       = #83BB32
$hilite_lime        = #B1E43B
$hilite_yellow      = #F1D950
$hilite_squash      = #EF8158
$hilite_orange      = #DC3522
$hilite_watermelon  = #C9313D
$hilite_red         = #AD3238
$hilite_pink        = #FF87FF
$hilite_magenta     = #FF0097
$hilite_purple      = #553DC9
$hilite_periwinkle  = #9DA5FF
$hilite_lavender    = #9323FF

$hilites = ($hilite_dkblue $hilite_sky $hilite_ltblue $hilite_steelblue $hilite_cyan $hilite_hurricane $hilite_tourquoise $hilite_green $hilite_lime $hilite_yellow $hilite_squash $hilite_orange $hilite_watermelon $hilite_red $hilite_pink $hilite_magenta $hilite_purple $hilite_periwinkle $hilite_lavender)

$hilite_favs = ($hilite_dkblue $hilite_ltblue $hilite_cyan $hilite_lime $hilite_yellow $hilite_squash $hilite_red $hilite_magenta $hilite_purple)
// colors: ["#FF0097", "#EF8158", "#83BB32", "#182B53", "#4596FF", "#553DC9", "#AD3238", "#00FFBC", "#F1D950"]


/* background colors */
$main_bgcolor   = white
$page_bgcolor   = $light
$foot_bgcolor   = #3b3b3b

/* text & link colors */
$body_text      = $dark
$foot_text      = #505050
$body_link      = #2d588f
$foot_link      = #666

$border_color   = #ccc


