/* * * *  Subnav & Tabs  * * * {{{ */
.graphs.tabbable .nav {
  margin-bottom: 0;
}
.graphs.tabbable .nav li h3 {
  line-height: 14px;
  margin: 2px;
  padding: 8px 12px;
  border-radius: 5px;
}
.graphs.tabbable .nav li {
  margin-right: 4px;
}
.graphs.tabbable .tab-pane {
  padding: 0.5em;
  margin-top: 18px;
}
/* }}} */
#dashboard section.graph {
  margin: 0 auto;
  padding: 3.5em 0;
}
#dashboard section.graph:first-child {
  margin-top: 0;
}
#dashboard .graph-links-row {
  display: none;
}
