/* * * *  Subnav & Tabs  * * * {{{ */
    
.graphs.tabbable
    .nav
        margin-bottom 0
        
        li h3
            line-height 14px
            margin 2px
            padding 8px 12px
            border-radius 5px
        li
            margin-right 4px
    
    .tab-pane
        padding 0.5em
        margin-top 18px
        

/* }}} */

#dashboard
    
    section.graph
        margin 7em auto
    
    section.graph:first-child
        margin-top 0
    
    .graph-links-row
        display none
