html,
body {
  font-family: helvetica, arial, sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #3b3b3b;
}
h1,
h2,
h3 {
  font-family: "gotham rounded", "helvetica neue", helvetica, arial, sans-serif;
  color: #333;
  font-weight: 300;
}
h1 a:not(.btn),
h2 a:not(.btn),
h3 a:not(.btn) {
  color: #333;
  text-decoration: none;
}
h1 a:not(.btn):hover,
h2 a:not(.btn):hover,
h3 a:not(.btn):hover {
  color: #333;
}
footer {
  color: #666;
}
footer a:not(.btn) {
  color: #888;
  border-bottom: 1px solid rgba(255,255,255,0.15);
}
footer a:not(.btn):hover {
  border: none;
}
footer h3,
footer h4 {
  font-size: 16px;
  color: #888 !important;
}
footer h3 a:link,
footer h4 a:link,
footer h3 a:visited,
footer h4 a:visited,
footer h3 a:active,
footer h4 a:active {
  color: #888 !important;
}
section.graph section.data-ui {
  height: 100%;
  min-height: 500px;
  zoom: 1;
/* * * *  DataSet UI  * * * */
/* * * *  Edit Metric UI * * * */
/* * * *  DataSource UI  * * * */
}
section.graph section.data-ui:before,
section.graph section.data-ui:after {
  content: "";
  display: table;
}
section.graph section.data-ui:after {
  clear: both;
}
section.graph section.data-ui h4 {
  display: none;
}
section.graph section.data-ui .data_set_view_pane {
  position: absolute;
  0: 0;
  ((null)): 0;
  width: 40%;
  height: 100%;
  min-height: 500px;
}
section.graph section.data-ui .metric_edit_view_pane {
  float: right;
  width: 60%;
  min-height: 100%;
}
section.graph section.data-ui .dataset-controls {
  padding: 1em;
}
section.graph section.data-ui section.dataset-ui {
  height: 100%;
  min-height: 500px;
  border-right: 1px solid #ccc;
}
section.graph section.data-ui section.dataset-ui .inner {
  padding: 1em 0 1em 1em;
}
section.graph section.data-ui section.dataset-ui .dataset-buttons {
  margin-bottom: 1em;
}
section.graph section.data-ui section.dataset-ui .dataset-metrics thead {
  display: none;
}
section.graph section.data-ui section.dataset-ui .dataset-metrics td {
  line-height: 1;
  vertical-align: middle;
}
section.graph section.data-ui section.dataset-ui .dataset-metrics tr:last-child td {
  border-bottom: 1px solid #ddd;
}
section.graph section.data-ui section.dataset-ui .dataset-metrics .col-label {
  width: 40%;
}
section.graph section.data-ui section.dataset-ui .dataset-metrics .col-source {
  width: 25%;
}
section.graph section.data-ui section.dataset-ui .dataset-metrics .col-time {
  width: 25%;
}
section.graph section.data-ui section.dataset-ui .dataset-metrics .col-actions {
  padding-right: 14px;
}
section.graph section.data-ui section.dataset-ui .dataset-metrics .col-source,
section.graph section.data-ui section.dataset-ui .dataset-metrics .col-time {
  font-size: 80%;
  color: #333;
}
section.graph section.data-ui section.dataset-ui .dataset-metrics .dataset-metric {
  cursor: pointer;
}
section.graph section.data-ui section.dataset-ui .dataset-metrics .dataset-metric.metric-active {
  font-weight: bold;
}
section.graph section.data-ui section.dataset-ui .dataset-metrics .dataset-metric.metric-active td {
  border: 1px solid #ccc;
  border-width: 1px 0;
}
section.graph section.data-ui section.dataset-ui .dataset-metrics .dataset-metric.metric-active .activity-arrow {
  display: block;
}
section.graph section.data-ui section.dataset-ui .dataset-metrics .activity-arrow {
  display: none;
  position: absolute;
  top: -1px;
  right: -1px;
  width: 0;
  height: 0;
  border-top: 0.5em solid transparent;
  border-right: 10px solid #ccc;
  border-bottom: 0.5em solid transparent;
}
section.graph section.data-ui section.dataset-ui .dataset-metrics .activity-arrow .inner {
  position: absolute;
  top: -0.5em;
  left: 1px;
  width: 0;
  height: 0;
  padding: 0;
  border-top: 0.5em solid transparent;
  border-right: 10px solid #fff;
  border-bottom: 0.5em solid transparent;
}
section.graph section.data-ui section.dataset-ui .dataset-metrics .delete-metric-button {
  color: #333;
}
section.graph section.data-ui section.dataset-ui .dataset-metrics .delete-metric-button:hover {
  color: #9d261d;
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
section.graph section.data-ui section.dataset-ui .dataset-metrics-empty {
  display: none;
}
section.graph section.data-ui section.metric-edit-ui {
  display: none;
  min-height: 100%;
}
section.graph section.data-ui section.metric-edit-ui .inner {
  padding: 1em;
}
section.graph section.data-ui section.metric-edit-ui .metric-header {
  min-height: 38px;
  font-size: 18px;
  line-height: 25px;
}
section.graph section.data-ui section.metric-edit-ui .metric-header .color-swatch {
  position: absolute;
  top: 3px;
  right: 0;
  width: 30px;
  height: 30px;
}
section.graph section.data-ui section.metric-edit-ui .metric-header .color-swatch .add-on,
section.graph section.data-ui section.metric-edit-ui .metric-header .color-swatch i {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  outline: 0;
}
section.graph section.data-ui section.metric-edit-ui .metric-header .color-swatch i {
  border: 1px solid #333;
  border-color: #ddd #333 #333 #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
section.graph section.data-ui section.metric-edit-ui .metric-header input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 38px;
  width: auto;
  font-size: 18px;
  line-height: 25px;
  height: 25px;
  padding: 6px;
}
section.graph section.data-ui section.datasource-ui i {
  z-index: 100;
}
section.graph section.data-ui section.datasource-ui .expand-datasource-ui-button {
  display: block;
}
section.graph section.data-ui section.datasource-ui .collapse-datasource-ui-button {
  display: none;
}
section.graph section.data-ui section.datasource-ui.in .expand-datasource-ui-button {
  display: none;
}
section.graph section.data-ui section.datasource-ui.in .collapse-datasource-ui-button {
  display: block;
}
section.graph section.data-ui section.datasource-ui .datasource-summary,
section.graph section.data-ui section.datasource-ui .datasource-summary:hover {
  cursor: pointer;
}
section.graph section.data-ui section.datasource-ui .datasource-summary i {
  position: absolute;
  top: 50%;
  right: 14px;
  margin-top: -7px;
}
section.graph section.data-ui section.datasource-ui .datasource-summary .breadcrumb {
  margin-bottom: 0;
  font-weight: bold;
}
section.graph section.data-ui section.datasource-ui .datasource-selector .datasource-tabs {
  top: -1px;
  padding: 7px;
  border: 1px solid #ddd;
  border-top: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
section.graph section.data-ui section.datasource-ui .datasource-selector h1,
section.graph section.data-ui section.datasource-ui .datasource-selector h2,
section.graph section.data-ui section.datasource-ui .datasource-selector h3,
section.graph section.data-ui section.datasource-ui .datasource-selector h4,
section.graph section.data-ui section.datasource-ui .datasource-selector h5,
section.graph section.data-ui section.datasource-ui .datasource-selector h6 {
  margin: 0 -1px 3px 0;
  padding: 8px 12px;
  min-width: 74px;
}
section.graph section.data-ui section.datasource-ui .datasource-selector .datasource-sources-list {
  height: 100%;
  display: table-cell;
  float: none;
}
section.graph section.data-ui section.datasource-ui .datasource-selector .datasource-sources-list li a {
  min-width: 150px;
}
section.graph section.data-ui section.datasource-ui .datasource-selector .datasource-sources-info {
  display: table-cell;
  padding: 1em;
}
section.graph section.data-ui section.datasource-ui .datasource-selector .datasource-sources-info .well {
  padding: 0.75em;
}
section.graph section.data-ui section.datasource-ui .datasource-selector .datasource-sources-info .source-id,
section.graph section.data-ui section.datasource-ui .datasource-selector .datasource-sources-info .source-format,
section.graph section.data-ui section.datasource-ui .datasource-selector .datasource-sources-info .source-charttype,
section.graph section.data-ui section.datasource-ui .datasource-selector .datasource-sources-info thead,
section.graph section.data-ui section.datasource-ui .datasource-selector .datasource-sources-info .source-metric-idx {
  display: none;
}
section.graph section.data-ui section.datasource-ui .datasource-selector .datasource-sources-info .datasource-source-details {
  font-size: 12px;
}
section.graph section.data-ui section.datasource-ui .datasource-selector .datasource-sources-info .source-name {
  font-size: 15px;
  margin-bottom: 0.75em;
}
section.graph section.data-ui section.datasource-ui .datasource-selector .datasource-sources-info .source-url {
  display: block;
  width: 95%;
  font-family: menlo, monospace;
  font-size: 11px;
}
section.graph section.data-ui section.datasource-ui .datasource-selector .datasource-sources-info .datasource-source-time {
  margin: 0.5em;
}
section.graph section.data-ui section.datasource-ui .datasource-selector .datasource-sources-info .datasource-source-time > * {
  display: inline-block;
  margin-right: 1em;
}
section.graph section.data-ui section.datasource-ui .datasource-selector .datasource-sources-info .datasource-source-metric,
section.graph section.data-ui section.datasource-ui .datasource-selector .datasource-sources-info .datasource-source-metric:hover {
  cursor: pointer;
}
section.graph section.data-ui section.datasource-ui .datasource-selector .datasource-sources-info .datasource-source-metric.active td {
  color: #3a87ad;
  background-color: #d9edf7;
  border: 1px solid #3a87ad;
  border-width: 1px 0;
}
section.graph section.data-ui section.datasource-ui .datasource-selector .datasource-sources-info .datasource-source-metric .source-metric-type {
  font-family: menlo, monospace;
}
section.graph section.data-ui .data-ui {
  zoom: 1;
}
section.graph section.data-ui .data-ui:before,
section.graph section.data-ui .data-ui:after {
  content: "";
  display: table;
}
section.graph section.data-ui .data-ui:after {
  clear: both;
}
