@import 'nib'
@import 'colors'

fieldset
    position relative
    padding 1em
    border 1px solid $border_color
    border-radius 5px
    
    *
        position relative
    
    legend
        padding 0.25em 0.5em
