@import 'colors'
@import 'nib'

svg 
  background  #eee
  max-width 900px
  margin 0 auto

.frame
    stroke #000
    fill none
    pointer-events  all

.feature
    stroke #ccc

#infobox
    position absolute
    pointer-events  none
    // width 180px
    // padding 5px
    // border-radius 5px;
    // background-color rgba(200,200,200,.85)
