// Styling for graph editing

html, body
    margin: 0
    padding: 0
    height: 100%
    background-color: white

    #content
        height: 100%
        padding: 0
        margin: 0
        background-color: white
        box-shadow: none

        div.inner
            height: 100%
            overflow: hidden
            position: relative

            section.graph
                height: 100%
    
    footer
        display: none
