// Overrides for styles in
// graph-display.styl.
section.graph-display.graph
    // force printer page break after each graph
    page-break-after always
    
    // push the legend below
    // the graph, so that the whole
    // graph is visible.
    .legend-node
        position relative

    // give the permalink some space.
    .graph-permalink
        padding 1em

        