html,
body {
  font-family: helvetica, arial, sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #3b3b3b;
}
h1,
h2,
h3 {
  font-family: "gotham rounded", "helvetica neue", helvetica, arial, sans-serif;
  color: #333;
  font-weight: 300;
}
h1 a:not(.btn),
h2 a:not(.btn),
h3 a:not(.btn) {
  color: #333;
  text-decoration: none;
}
h1 a:not(.btn):hover,
h2 a:not(.btn):hover,
h3 a:not(.btn):hover {
  color: #333;
}
footer {
  color: #666;
}
footer a:not(.btn) {
  color: #888;
  border-bottom: 1px solid rgba(255,255,255,0.15);
}
footer a:not(.btn):hover {
  border: none;
}
footer h3,
footer h4 {
  font-size: 16px;
  color: #888 !important;
}
footer h3 a:link,
footer h4 a:link,
footer h3 a:visited,
footer h4 a:visited,
footer h3 a:active,
footer h4 a:active {
  color: #888 !important;
}
section.graph-display.graph {
  position: relative;
  max-width: 900px;
  margin: 3em auto;
/* * * *  Chart & Viewport  * * * {{{ */
/* }}} */
/* * * *  Subnav & Tabs  * * * {{{ */
/* }}} */
/* * * *  Graph Details  * * * {{{ */
/* }}} */
/* * * *  Chart Options  * * * {{{ */
/* }}} End Chart Options */
}
section.graph-display.graph * {
  position: relative;
}
section.graph-display.graph .graph-name-row {
  margin-bottom: 1em;
  zoom: 1;
}
section.graph-display.graph .graph-name-row:before,
section.graph-display.graph .graph-name-row:after {
  content: "";
  display: table;
}
section.graph-display.graph .graph-name-row:after {
  clear: both;
}
section.graph-display.graph .callout {
  float: left;
  z-index: 100;
  width: 15.385em;
  padding: 0 6em 0 0;
  background-color: #fff;
  text-align: right;
}
section.graph-display.graph .callout .latest-metric {
  font-size: 18px;
  line-height: 36px;
}
section.graph-display.graph .callout .metric-change {
  font: 11px/1.5 "helvetica neue", helvetica, arial, sans-serif;
}
section.graph-display.graph .callout .metric-change span {
  display: inline-block;
}
section.graph-display.graph .callout .metric-change span.dates {
  width: 140px;
}
section.graph-display.graph .callout .metric-change span.value {
  width: 60px;
}
section.graph-display.graph .callout .metric-change span.value.delta-positive {
  color: #009048;
}
section.graph-display.graph .callout .metric-change span.value.delta-negative {
  color: #c9313d;
}
section.graph-display.graph .graph-legend {
  position: absolute;
  top: 1em;
  left: 0;
  z-index: 100;
  width: 14.667em;
  padding: 1em;
  background-color: rgba(255,255,255,0.75);
  font: 12px/1.5 "helvetica neue", helvetica, arial, sans-serif;
  border: 1px solid #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
section.graph-display.graph .graph-legend b {
  display: inline-block;
  width: 10em;
}
section.graph-display.graph .graph-legend .whole {
  display: inline-block;
  width: 2.5em;
  text-align: right;
}
section.graph-display.graph .graph-legend .fraction {
  text-align: left;
}
section.graph-display.graph .graph-legend .suffix {
  text-align: left;
}
section.graph-display.graph .graph-viewport-row > .inner {
  padding-left: 17.385em;
}
section.graph-display.graph .viewport:hover + .graph-legend {
  border: 1px solid #eee;
}
section.graph-display.graph .viewport {
  position: relative;
  min-width: 200px;
  min-height: 320px;
  margin-bottom: 1.5em;
  overflow: hidden;
}
section.graph-display.graph .graph-settings.tabbable .nav {
  margin-bottom: 0;
}
section.graph-display.graph .graph-settings.tabbable .nav li h3 {
  line-height: 14px;
  margin: 2px;
  padding: 8px 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
section.graph-display.graph .graph-settings.tabbable .nav li {
  margin-right: 4px;
}
section.graph-display.graph .graph-settings.tabbable .tab-pane {
  padding: 0.5em;
  margin-top: 18px;
}
section.graph-display.graph .graph-settings.tabbable .tab-pane.graph-data-pane {
  margin-top: 0;
  padding: 0;
}
section.graph-display.graph .graph-controls {
  z-index: 100;
  margin-top: 2px;
}
section.graph-display.graph .graph-controls > .btn,
section.graph-display.graph .graph-controls > .btn-group {
  margin: 0 0.5em;
}
section.graph-display.graph .graph-controls .btn-group {
  display: inline-block;
}
section.graph-display.graph .graph-controls input[type="button"] {
  min-width: 5em;
  text-align: center;
}
section.graph-display.graph .graph-permalink {
  display: inline-block;
}
section.graph-display.graph .graph-permalink input {
  cursor: auto;
}
section.graph-display.graph .ug {
  padding-left: 3em;
}
section.graph-display.graph form.graph-details {
  position: relative;
}
section.graph-display.graph form.graph-details .name-row {
  font-size: 120%;
  line-height: 2em;
}
section.graph-display.graph form.graph-details .name-row input.name {
  font-size: 120%;
  line-height: 1.2;
  height: 1.2em;
  border-color: #eee;
  width: 98%;
}
section.graph-display.graph form.graph-details .row-fluid .half.control-group {
  width: 50%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
section.graph-display.graph form.graph-details .row-fluid label {
  width: 100px;
}
section.graph-display.graph form.graph-details .row-fluid .controls {
  margin-left: 110px;
}
section.graph-display.graph form.graph-details .help-block {
  font-size: 11px;
  line-height: 1.3;
}
section.graph-display.graph .chart-options fieldset {
  border: 0px;
}
section.graph-display.graph .chart-option.field {
  float: left;
  z-index: 3;
  padding: 0.5em;
  margin: 0.4em;
  min-width: 200px;
  max-width: 250px;
  min-height: 1.5em;
  line-height: 1.5;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ccc;
  font-size: 90%;
/* Category/Tag Colors {{{ */
/* }}} */
}
section.graph-display.graph .chart-option.field h3 {
  font-size: 14px;
  line-height: 1.3;
  cursor: pointer;
}
section.graph-display.graph .chart-option.field .close {
  position: absolute;
  top: 0;
  right: 0.1em;
  width: 1em;
  height: 1em;
  line-height: 1.2em;
  text-align: center;
  text-decoration: none;
  z-index: 10;
  cursor: pointer;
  opacity: 0.3;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
}
section.graph-display.graph .chart-option.field .close:hover {
  opacity: 0.6;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
}
section.graph-display.graph .chart-option.field .shortname {
  font-weight: bold;
  color: #fff;
  min-height: 1.5em;
}
section.graph-display.graph .chart-option.field .name {
  display: none;
  font-weight: bold;
}
section.graph-display.graph .chart-option.field input.value:not([type="checkbox"]) {
  width: 240px;
  font-family: menlo, monospace;
}
section.graph-display.graph .chart-option.field .type::before {
  content: "Type: ";
  font-weight: bold;
}
section.graph-display.graph .chart-option.field .default::before {
  content: "Default: ";
  font-weight: bold;
}
section.graph-display.graph .chart-option.field .desc {
  position: relative;
}
section.graph-display.graph .chart-option.field .tags,
section.graph-display.graph .chart-option.field .examples {
  cursor: pointer;
}
section.graph-display.graph .chart-option.field .tags {
  font-size: 85%;
}
section.graph-display.graph .chart-option.field .tags::before {
  content: "Tags: ";
  font-weight: bold;
}
section.graph-display.graph .chart-option.field .tags .tag {
  margin: 0.2em;
  line-height: 1.5;
  padding: 0.2em;
  white-space: nowrap;
  color: #fff;
  background-color: rgba(255,255,255,0.15);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
section.graph-display.graph .chart-option.field .examples {
  display: none;
}
section.graph-display.graph .chart-option.field .examples::before {
  content: "Examples";
  font-weight: bold;
}
section.graph-display.graph .chart-option.field .examples .example {
  position: relative;
}
section.graph-display.graph .chart-option.field.collapsed {
  z-index: 2;
  width: auto;
  min-width: 50px;
  min-height: 2em;
  max-width: none;
  line-height: 2;
  cursor: pointer;
  text-align: center;
}
section.graph-display.graph .chart-option.field.collapsed * {
  display: none;
}
section.graph-display.graph .chart-option.field.collapsed .shortname {
  display: inline-block;
  min-width: 50px;
  min-height: auto;
}
section.graph-display.graph .chart-option.field.category_0 {
  color: #eee;
  background-color: #182b53;
}
section.graph-display.graph .chart-option.field.category_0 label,
section.graph-display.graph .chart-option.field.category_0 h1,
section.graph-display.graph .chart-option.field.category_0 h2,
section.graph-display.graph .chart-option.field.category_0 h3,
section.graph-display.graph .chart-option.field.category_0 .shortname,
section.graph-display.graph .chart-option.field.category_0 .name,
section.graph-display.graph .chart-option.field.category_0 .close {
  color: #eee;
}
section.graph-display.graph .chart-option.field .tag.category_0 {
  color: #eee;
  background-color: #182b53;
}
section.graph-display.graph .chart-option.field.category_1 {
  color: #eee;
  background-color: #0080ff;
}
section.graph-display.graph .chart-option.field.category_1 label,
section.graph-display.graph .chart-option.field.category_1 h1,
section.graph-display.graph .chart-option.field.category_1 h2,
section.graph-display.graph .chart-option.field.category_1 h3,
section.graph-display.graph .chart-option.field.category_1 .shortname,
section.graph-display.graph .chart-option.field.category_1 .name,
section.graph-display.graph .chart-option.field.category_1 .close {
  color: #eee;
}
section.graph-display.graph .chart-option.field .tag.category_1 {
  color: #eee;
  background-color: #0080ff;
}
section.graph-display.graph .chart-option.field.category_2 {
  color: #333;
  background-color: #a6d9ff;
}
section.graph-display.graph .chart-option.field.category_2 label,
section.graph-display.graph .chart-option.field.category_2 h1,
section.graph-display.graph .chart-option.field.category_2 h2,
section.graph-display.graph .chart-option.field.category_2 h3,
section.graph-display.graph .chart-option.field.category_2 .shortname,
section.graph-display.graph .chart-option.field.category_2 .name,
section.graph-display.graph .chart-option.field.category_2 .close {
  color: #333;
}
section.graph-display.graph .chart-option.field .tag.category_2 {
  color: #333;
  background-color: #a6d9ff;
}
section.graph-display.graph .chart-option.field.category_3 {
  color: #333;
  background-color: #51e3c5;
}
section.graph-display.graph .chart-option.field.category_3 label,
section.graph-display.graph .chart-option.field.category_3 h1,
section.graph-display.graph .chart-option.field.category_3 h2,
section.graph-display.graph .chart-option.field.category_3 h3,
section.graph-display.graph .chart-option.field.category_3 .shortname,
section.graph-display.graph .chart-option.field.category_3 .name,
section.graph-display.graph .chart-option.field.category_3 .close {
  color: #333;
}
section.graph-display.graph .chart-option.field .tag.category_3 {
  color: #333;
  background-color: #51e3c5;
}
section.graph-display.graph .chart-option.field.category_4 {
  color: #eee;
  background-color: #254a59;
}
section.graph-display.graph .chart-option.field.category_4 label,
section.graph-display.graph .chart-option.field.category_4 h1,
section.graph-display.graph .chart-option.field.category_4 h2,
section.graph-display.graph .chart-option.field.category_4 h3,
section.graph-display.graph .chart-option.field.category_4 .shortname,
section.graph-display.graph .chart-option.field.category_4 .name,
section.graph-display.graph .chart-option.field.category_4 .close {
  color: #eee;
}
section.graph-display.graph .chart-option.field .tag.category_4 {
  color: #eee;
  background-color: #254a59;
}
section.graph-display.graph .chart-option.field.category_5 {
  color: #eee;
  background-color: #32938a;
}
section.graph-display.graph .chart-option.field.category_5 label,
section.graph-display.graph .chart-option.field.category_5 h1,
section.graph-display.graph .chart-option.field.category_5 h2,
section.graph-display.graph .chart-option.field.category_5 h3,
section.graph-display.graph .chart-option.field.category_5 .shortname,
section.graph-display.graph .chart-option.field.category_5 .name,
section.graph-display.graph .chart-option.field.category_5 .close {
  color: #eee;
}
section.graph-display.graph .chart-option.field .tag.category_5 {
  color: #eee;
  background-color: #32938a;
}
section.graph-display.graph .chart-option.field.category_6 {
  color: #eee;
  background-color: #83bb32;
}
section.graph-display.graph .chart-option.field.category_6 label,
section.graph-display.graph .chart-option.field.category_6 h1,
section.graph-display.graph .chart-option.field.category_6 h2,
section.graph-display.graph .chart-option.field.category_6 h3,
section.graph-display.graph .chart-option.field.category_6 .shortname,
section.graph-display.graph .chart-option.field.category_6 .name,
section.graph-display.graph .chart-option.field.category_6 .close {
  color: #eee;
}
section.graph-display.graph .chart-option.field .tag.category_6 {
  color: #eee;
  background-color: #83bb32;
}
section.graph-display.graph .chart-option.field.category_7 {
  color: #333;
  background-color: #b1e43b;
}
section.graph-display.graph .chart-option.field.category_7 label,
section.graph-display.graph .chart-option.field.category_7 h1,
section.graph-display.graph .chart-option.field.category_7 h2,
section.graph-display.graph .chart-option.field.category_7 h3,
section.graph-display.graph .chart-option.field.category_7 .shortname,
section.graph-display.graph .chart-option.field.category_7 .name,
section.graph-display.graph .chart-option.field.category_7 .close {
  color: #333;
}
section.graph-display.graph .chart-option.field .tag.category_7 {
  color: #333;
  background-color: #b1e43b;
}
section.graph-display.graph .chart-option.field.category_8 {
  color: #333;
  background-color: #f1d950;
}
section.graph-display.graph .chart-option.field.category_8 label,
section.graph-display.graph .chart-option.field.category_8 h1,
section.graph-display.graph .chart-option.field.category_8 h2,
section.graph-display.graph .chart-option.field.category_8 h3,
section.graph-display.graph .chart-option.field.category_8 .shortname,
section.graph-display.graph .chart-option.field.category_8 .name,
section.graph-display.graph .chart-option.field.category_8 .close {
  color: #333;
}
section.graph-display.graph .chart-option.field .tag.category_8 {
  color: #333;
  background-color: #f1d950;
}
section.graph-display.graph .chart-option.field.category_9 {
  color: #333;
  background-color: #ef8158;
}
section.graph-display.graph .chart-option.field.category_9 label,
section.graph-display.graph .chart-option.field.category_9 h1,
section.graph-display.graph .chart-option.field.category_9 h2,
section.graph-display.graph .chart-option.field.category_9 h3,
section.graph-display.graph .chart-option.field.category_9 .shortname,
section.graph-display.graph .chart-option.field.category_9 .name,
section.graph-display.graph .chart-option.field.category_9 .close {
  color: #333;
}
section.graph-display.graph .chart-option.field .tag.category_9 {
  color: #333;
  background-color: #ef8158;
}
section.graph-display.graph .chart-option.field.category_10 {
  color: #eee;
  background-color: #dc3522;
}
section.graph-display.graph .chart-option.field.category_10 label,
section.graph-display.graph .chart-option.field.category_10 h1,
section.graph-display.graph .chart-option.field.category_10 h2,
section.graph-display.graph .chart-option.field.category_10 h3,
section.graph-display.graph .chart-option.field.category_10 .shortname,
section.graph-display.graph .chart-option.field.category_10 .name,
section.graph-display.graph .chart-option.field.category_10 .close {
  color: #eee;
}
section.graph-display.graph .chart-option.field .tag.category_10 {
  color: #eee;
  background-color: #dc3522;
}
section.graph-display.graph .chart-option.field.category_11 {
  color: #eee;
  background-color: #c9313d;
}
section.graph-display.graph .chart-option.field.category_11 label,
section.graph-display.graph .chart-option.field.category_11 h1,
section.graph-display.graph .chart-option.field.category_11 h2,
section.graph-display.graph .chart-option.field.category_11 h3,
section.graph-display.graph .chart-option.field.category_11 .shortname,
section.graph-display.graph .chart-option.field.category_11 .name,
section.graph-display.graph .chart-option.field.category_11 .close {
  color: #eee;
}
section.graph-display.graph .chart-option.field .tag.category_11 {
  color: #eee;
  background-color: #c9313d;
}
section.graph-display.graph .chart-option.field.category_12 {
  color: #eee;
  background-color: #ad3238;
}
section.graph-display.graph .chart-option.field.category_12 label,
section.graph-display.graph .chart-option.field.category_12 h1,
section.graph-display.graph .chart-option.field.category_12 h2,
section.graph-display.graph .chart-option.field.category_12 h3,
section.graph-display.graph .chart-option.field.category_12 .shortname,
section.graph-display.graph .chart-option.field.category_12 .name,
section.graph-display.graph .chart-option.field.category_12 .close {
  color: #eee;
}
section.graph-display.graph .chart-option.field .tag.category_12 {
  color: #eee;
  background-color: #ad3238;
}
section.graph-display.graph .chart-option.field.category_13 {
  color: #333;
  background-color: #ff87ff;
}
section.graph-display.graph .chart-option.field.category_13 label,
section.graph-display.graph .chart-option.field.category_13 h1,
section.graph-display.graph .chart-option.field.category_13 h2,
section.graph-display.graph .chart-option.field.category_13 h3,
section.graph-display.graph .chart-option.field.category_13 .shortname,
section.graph-display.graph .chart-option.field.category_13 .name,
section.graph-display.graph .chart-option.field.category_13 .close {
  color: #333;
}
section.graph-display.graph .chart-option.field .tag.category_13 {
  color: #333;
  background-color: #ff87ff;
}
section.graph-display.graph .chart-option.field.category_14 {
  color: #eee;
  background-color: #ff0097;
}
section.graph-display.graph .chart-option.field.category_14 label,
section.graph-display.graph .chart-option.field.category_14 h1,
section.graph-display.graph .chart-option.field.category_14 h2,
section.graph-display.graph .chart-option.field.category_14 h3,
section.graph-display.graph .chart-option.field.category_14 .shortname,
section.graph-display.graph .chart-option.field.category_14 .name,
section.graph-display.graph .chart-option.field.category_14 .close {
  color: #eee;
}
section.graph-display.graph .chart-option.field .tag.category_14 {
  color: #eee;
  background-color: #ff0097;
}
section.graph-display.graph .chart-option.field.category_15 {
  color: #eee;
  background-color: #553dc9;
}
section.graph-display.graph .chart-option.field.category_15 label,
section.graph-display.graph .chart-option.field.category_15 h1,
section.graph-display.graph .chart-option.field.category_15 h2,
section.graph-display.graph .chart-option.field.category_15 h3,
section.graph-display.graph .chart-option.field.category_15 .shortname,
section.graph-display.graph .chart-option.field.category_15 .name,
section.graph-display.graph .chart-option.field.category_15 .close {
  color: #eee;
}
section.graph-display.graph .chart-option.field .tag.category_15 {
  color: #eee;
  background-color: #553dc9;
}
section.graph-display.graph .chart-option.field.category_16 {
  color: #333;
  background-color: #9da5ff;
}
section.graph-display.graph .chart-option.field.category_16 label,
section.graph-display.graph .chart-option.field.category_16 h1,
section.graph-display.graph .chart-option.field.category_16 h2,
section.graph-display.graph .chart-option.field.category_16 h3,
section.graph-display.graph .chart-option.field.category_16 .shortname,
section.graph-display.graph .chart-option.field.category_16 .name,
section.graph-display.graph .chart-option.field.category_16 .close {
  color: #333;
}
section.graph-display.graph .chart-option.field .tag.category_16 {
  color: #333;
  background-color: #9da5ff;
}
section.graph-display.graph .chart-option.field.category_17 {
  color: #333;
  background-color: #9323ff;
}
section.graph-display.graph .chart-option.field.category_17 label,
section.graph-display.graph .chart-option.field.category_17 h1,
section.graph-display.graph .chart-option.field.category_17 h2,
section.graph-display.graph .chart-option.field.category_17 h3,
section.graph-display.graph .chart-option.field.category_17 .shortname,
section.graph-display.graph .chart-option.field.category_17 .name,
section.graph-display.graph .chart-option.field.category_17 .close {
  color: #333;
}
section.graph-display.graph .chart-option.field .tag.category_17 {
  color: #333;
  background-color: #9323ff;
}
