[class^="hicon-"],
[class*=" hicon-"] {
  display: inline-block;
  vertical-align: text-top;
  background-repeat: no-repeat;
  background-image: url("../img/hicons/hicons-sprite-black.png");
  width: 32px;
  height: 32px;
  line-height: 32px;
  background-position: 32px 32px;
  *margin-right: 0.3em;
}
[class^="hicon-"][class~="icon-white"],
[class*=" hicon-"][class~="icon-white"] {
  background-image: url("../img/hicons/hicons-sprite-white.png");
}
[class^="hicon-"][class~="icon-sm"],
[class*=" hicon-"][class~="icon-sm"] {
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-position: 16px 16px;
}
[class^="hicon-"][class~="icon-med"],
[class*=" hicon-"][class~="icon-med"] {
  width: 24px;
  height: 24px;
  line-height: 24px;
  background-position: 24px 24px;
}
[class^="hicon-"]:last-child,
[class*=" hicon-"]:last-child {
  *margin-left: 0;
}
.hicon-chart-bar {
  background-position: 0px -24px;
}
.hicon-chart-curve {
  background-position: 0px -56px;
}
.hicon-chart-line {
  background-position: -32px -56px;
}
.hicon-chart-pie {
  background-position: 0px -112px;
}
.hicon-server-db {
  background-position: 0px -144px;
}
.hicon-settings {
  background-position: -32px -144px;
}
.hicon-split-h {
  background-position: 0px -200px;
}
.hicon-split-v {
  background-position: -32px -200px;
}
[class~="icon-sm"].hicon-chart-bar {
  background-position: -24px 0px;
}
[class~="icon-sm"].hicon-chart-curve {
  background-position: -32px -24px;
}
[class~="icon-sm"].hicon-chart-line {
  background-position: -32px -40px;
}
[class~="icon-sm"].hicon-chart-pie {
  background-position: -24px -88px;
}
[class~="icon-sm"].hicon-server-db {
  background-position: -32px -112px;
}
[class~="icon-sm"].hicon-settings {
  background-position: -32px -128px;
}
[class~="icon-sm"].hicon-split-h {
  background-position: -24px -176px;
}
[class~="icon-sm"].hicon-split-v {
  background-position: 0px -232px;
}
[class~="icon-med"].hicon-chart-bar {
  background-position: 0px 0px;
}
[class~="icon-med"].hicon-chart-curve {
  background-position: -40px 0px;
}
[class~="icon-med"].hicon-chart-line {
  background-position: -48px -24px;
}
[class~="icon-med"].hicon-chart-pie {
  background-position: 0px -88px;
}
[class~="icon-med"].hicon-server-db {
  background-position: -40px -88px;
}
[class~="icon-med"].hicon-settings {
  background-position: -48px -112px;
}
[class~="icon-med"].hicon-split-h {
  background-position: 0px -176px;
}
[class~="icon-med"].hicon-split-v {
  background-position: -40px -176px;
}
