
// Generic Icon Setup
[class^="hicon-"],
[class*=" hicon-"]
    display inline-block
    vertical-align text-top
    background-repeat no-repeat
    background-image url("/img/hicons/hicons-sprite-black.png")
    
    &[class~="icon-white"]
        background-image url("/img/hicons/hicons-sprite-white.png")
    
    // Large-size (32px) icons have no suffix
    width  32px
    height 32px
    line-height 32px
    background-position 32px 32px
    
    &[class~="icon-sm"]
        width  16px
        height 16px
        line-height 16px
        background-position 16px 16px
    
    &[class~="icon-med"]
        width  24px
        height 24px
        line-height 24px
        background-position 24px 24px
    
    // ie7-restore-right-whitespace()
    *margin-right .3em
    &:last-child
        *margin-left 0


//// Black Icons ////

.hicon-chart-bar
    background-position -0px -24px
.hicon-chart-curve
    background-position -0px -56px
.hicon-chart-line
    background-position -32px -56px
.hicon-chart-pie
    background-position -0px -112px
.hicon-server-db
    background-position -0px -144px
.hicon-settings
    background-position -32px -144px
.hicon-split-h
    background-position -0px -200px
.hicon-split-v
    background-position -32px -200px

[class~="icon-sm"]
    &.hicon-chart-bar
        background-position -24px -0px
    &.hicon-chart-curve
        background-position -32px -24px
    &.hicon-chart-line
        background-position -32px -40px
    &.hicon-chart-pie
        background-position -24px -88px
    &.hicon-server-db
        background-position -32px -112px
    &.hicon-settings
        background-position -32px -128px
    &.hicon-split-h
        background-position -24px -176px
    &.hicon-split-v
        background-position -0px -232px

[class~="icon-med"]
    &.hicon-chart-bar
        background-position -0px -0px
    &.hicon-chart-curve
        background-position -40px -0px
    &.hicon-chart-line
        background-position -48px -24px
    &.hicon-chart-pie
        background-position -0px -88px
    &.hicon-server-db
        background-position -40px -88px
    &.hicon-settings
        background-position -48px -112px
    &.hicon-split-h
        background-position -0px -176px
    &.hicon-split-v
        background-position -40px -176px

