@import 'nib'
@import 'colors'
@import 'mixins'
@import 'text'

.clearer
    clearfix()

.icon-wmf
    display inline-block
    width 17px
    height 17px
    line-height 16px
    background transparent no-repeat 0 0
    background-image url("../img/wmf_logo/wmf_logo-white-16x16.png") !important


.image
    display block
    overflow hidden
    text-indent -9999px
    background transparent no-repeat 0 0
    border 0 !important
    
    // Enable CSS Transitions
    // transition-duration 0.3s
    // transition-property opacity
    
    &.wmf-logo
        width 45px
        height 45px
        line-height 45px
        background-image url("../img/wmf_logo/wmf_logo-black-45x45-a100.png")
        opacity 0.10
        &:hover
            opacity 0.25
    
    &.public-domain
        width 31px
        height 32px
        line-height 32px
        background-image url("../img/public_domain/public_domain-31x32-a100.png")
        opacity 0.12
        &:hover
            opacity 0.25

html, body
    absolute top 0 left 0
    width 100%

html
    min-height 100%

body
    min-height 100%

header, footer, #content
    position relative
    padding 0.5em

#content
    z-index 10
    padding 1em
    min-height 500px
    background-color $page_bgcolor
    box-shadow 0 0 8px 5px rgba(0,0,0,0.45)
    
    & > .inner
        z-index 12
        position relative
        margin 0 auto
        
        &.fluid-inner
            width 80%
            min-width 960px
            max-width none
        
        .centered
            margin 0 auto
            max-width 960px
        
    
    // .spacer offsets #content to pad for header
    .spacer
        font-size 250%
        margin-top 1em
        padding-top 1em
    
    .notice
        absolute top 1.25em left 50%
        // animate to 4em to display:
        // absolute top 4em left 50%
        margin-left -25%
        width 50%
        padding 0.25em
        border-radius 0.5em
        text-align center
        
        &.info
            color white
            background #4596FF
        &.error
            color white
            background #AF2A31

nav#main-nav
    absolute top right 16px
    height 100%
    
    ul, li
        relative top left
    
    ul
        height 100%
        top 50%
    
    li
        display inline-block
        top -0.75em
        margin 0 0.5em

.nav
    a, a:link, a:visited, a:active
        text-decoration none
    &.nav-pills
        background-color white
        border-bottom 1px solid #ccc
        padding-bottom 0.25em
        // box-shadow 0px 0px 6px 0px rgba(0,0,0,0.3)

header
    z-index 1000
    fixed top left
    z-index 100
    width 100%
    height auto
    background-color $main_bgcolor
    box-shadow 0px 0px 6px 2px rgba(0,0,0,0.3)
    
    // h1
    //     font-size 150%
    //     margin 0 0 0 1em

footer
    z-index 1
    position relative
    width 800px
    margin 0 auto
    background-color $foot_bgcolor
    
    .icon-white
        opacity 0.5
        margin-right 5px
    
    h3, h4, h5
        margin-bottom 0.75em
    
    & > .row, & > .row-fluid
        position relative
        margin 45px auto
        .inner
            position relative
            max-width 410px
            margin 0 auto
    
    .info-row
        margin 45px auto
        p
            margin 0 1em 0.9em
        ul.site-level
            list-style none
            margin-left 10px
        ul ul
            margin-left 35px
    
    .copyright-row
        margin 65px auto 0
        font-size 11px
        
        .public-domain
            display block
            absolute top 50% left 10px
            margin-top -15px
        
        .copyright
            padding-left 50px
    
    .tos-row
        margin 0 auto
        font-size 11px
        line-height 24px
        text-align center
        vertical-align middle
        *
            display inline-block
            line-height 22px
            vertical-align middle
            margin 0 5px
        .separator
            color black
            font-size 22px
            opacity 0.25
        a:not(.btn)
            border 0
    
    .wmf-logo
        margin 65px auto
    

// visualizing modal dialog
#visualizeDialog
    top 30%
    left 20%
    right 5%
    bottom 5%
    width auto
    height auto
    .modal-body
        max-height none


.rilke
    absolute bottom 1em right 1em
    z-index 30
    width 185px
    
    opacity 0.1
    &:hover
        opacity 1
    
    // Enable CSS Transitions
    transition-duration 0.8s
    transition-property opacity
    
    &, & *
        font-size 10px
        line-height 1.3
        text-indent -1em
        border 0
        color $foot_text
    small
        margin-top 5px
        text-align right
        color $foot_header
    blockquote
        margin 0
        padding 0


