// Styling for line charts

// section.play
//     max-width: 1000px
//     margin: 2em
//     position: relative
// div.chartContainer
//     width: 750px
//     height: 365px
//     display: inline-block

fieldset.legend
    margin 0.5em
    font-weight 100
    font-family "Helvetica Neue", Helvetica, Arial, sans-serif
    display inline-block
    vertical-align top
    ul
        list-style-type none
        margin 0
        li
            display table-row
            span
                display table-cell
            span.legendItemText
                text-align left
            span.legendItemValue
                text-align right

svg
    width 800
    height 500

g.brush
    stroke #fff
    fill-opacity .125
    shape-rendering crispEdges

line.verticalGuide
    stroke red
    stroke-width 1

g.grid line
    stroke #cacaca
    stroke-width 1

g.axis
    path
        fill none
        stroke #cacaca
        stroke-width 2
    text
        font 100 1em "Helvetica Neue", Helvetica, Arial, sans-serif
        stroke #666
        stroke-width 1

g.metricVisualizations path
    fill none
    stroke-width 5
